<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button routerLink="/" mat-raised-button>Home</button>
      <button id="createTask" routerLink="todos/create" mat-raised-button>Create Task</button>
      <button id="createTask" routerLink="todos/user" mat-raised-button type="submit">Find User</button>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>