<form [formGroup]="editTask" (ngSubmit)="onSubmit(editTask.value)">
    <label>Task Title: </label>
    <input type="text" formControlName="title" [value]="todoData?.title">
    <br>

    <label>Completed: </label>
    <input type="checkbox" formControlName="completed" [checked]="todoData?.completed">
    <br>

    <label>Task User: </label>
    <select id="user" formControlName="userId">
        <option [value]="user.id" *ngFor="let user of users">{{user.name}}</option>
    </select>
    <br>

    <button mat-raised-button color="accent" type="submit">Editar</button>
</form>
