<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
</head>
  <div class="selectUser">


<form [formGroup]= "tarefaIdForm" (ngSubmit) = "onSubmit(tarefaIdForm.value)"> 
<mat-form-field appearance="fill">
  <mat-label>Select a user: </mat-label>
  <mat-select formControlName = "name">
    <mat-option *ngFor="let a of users" [value] = "a.name" >
      {{a.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<button mat-raised-button color="warn" (click)="onSubmit(tarefaIdForm.value)">Submit</button>
</form>
  <div class="mat-elevation-z8 tabela">
    <table mat-table [dataSource]="todosUser" aria-label="Elements">
      <!-- userId Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>userId</th>
        <td mat-cell *matCellDef="let row">{{row.userId}}</td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>
      <!-- Completed status Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef>Completed</th>
        <td mat-cell *matCellDef="let row"><input type="checkbox" [checked]="row.completed" [disabled]="true" name="" id=""></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

