
.selectUser {
    margin: 20px auto;
    text-align: center;
}
.tabela {  
    margin: 20px auto;
    width: 50%;
    float: center;
    max-width: 600px;
    text-align: left;
    
}

td,th{
    min-width: 70px;
  }