<form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm.value)">
    <label> Title: </label>
    <input type="text" id="title" formControlName="title"><br>
    <label> Completed: </label>
    <input type="checkbox" id="completed" [value]="false" formControlName="completed"><br>
    <label> User: </label>
    <select id="user" formControlName="userId">
        <option [value]="user.id" *ngFor="let user of users">{{user.name}}</option>
    </select>
    <br>
    <button mat-raised-button color="accent" type="submit">Create Task</button>
</form>
