<div class="botaolistar">
  <button mat-raised-button color="warn" (click)="getTarefas()">Listar Tarefas</button>
</div>
<div class="mat-elevation-z8 tabela">
  <table mat-table [dataSource]="todos" aria-label="Elements">
    <!-- userId Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>userId</th>
      <td mat-cell *matCellDef="let row">{{row.userId}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>
    <!-- Completed status Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef>Completed</th>
      <td mat-cell *matCellDef="let row"><input type="checkbox" [checked]="row.completed" [disabled]="true" name="" id=""></td>
    </ng-container>

    <!-- Edit task column -->
    <ng-container matColumnDef="editTask">
      <th mat-header-cell *matHeaderCellDef>Edit Task</th>
      <td mat-cell *matCellDef="let row">
        <button routerLink="todos/edit/{{row.id}}" mat-button color="accent">{{row.id}}</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>